body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
