$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;
$grey-color: #9f9f9f;
$app-background: #64b0e1;
$app-font-color: #201756;
$app-font-family: 'Lato', sans-serif;

$font-bold: 600;
$font-regular: 400;

$regular-font-size: 16px;
$large-font-size: 21px;