.prodcut-card {
    width: calc(80% - 15px);
    height: auto;
    display: flex;
    border: 1px solid black;
    margin: 0px auto 35px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}