<main class="form-signin">
  <div class="card-body">

  </div>
</main>

<style>
  .card-body{
    width: 90%;
    height: 500px;
    margin: 10px auto;
    border: 1px solid black;
    box-sizing: border-box;
  }
</style>
